In [1]:
import json # To parse json files
from pprint import pprint # To print json data
import sqlite3 # For sql database

In [2]:
# Configure this for your local path
dirpath = 'C:\\Users\\Jason\\Desktop\\Yelp\\'
file = 'yelp_academic_dataset_business.json'
filepath = dirpath + file

In [3]:
# Connect to SQL server
connection = sqlite3.connect("yelp.db")
cursor = connection.cursor()

In [4]:
# Create the SQL database
sql_command_init = """CREATE TABLE business (address VARCHAR(35),
                       business_id VARCHAR(30) ,
                       city VARCHAR(15),
                       is_open BOOLEAN,
                       latitude FLOAT,
                       longitude FLOAT,
                       name VARCHAR(25),
                       neighborhood VARCHAR(25),
                       postal_code INTEGER,
                       review_count INTEGER,
                       stars FLOAT,
                       state VARCHAR(2),
                       type VARCHAR(15));"""
cursor.execute(sql_command_init)

OperationalError: table business already exists

In [ ]:
# Command used to insert into the database
sql_command_insert = """INSERT INTO business (address, 
                                        business_id, 
                                        city, 
                                        is_open, 
                                        latitude, 
                                        longitude, 
                                        name,
                                        neighborhood,
                                        postal_code,
                                        review_count,
                                        stars,
                                        state, 
                                        type) 
                                        VALUES ("{add}", 
                                        "{bid}", 
                                        "{city}", 
                                        {iopen}, 
                                        {lat}, 
                                        {long}, 
                                        "{name}", 
                                        "{neigh}", 
                                        "{post}",
                                        {rev},
                                        {star},
                                        "{sta}",
                                        "{Btype}");"""

In [ ]:
# Open and read file into database
with open(filepath, encoding="utf8") as f:
    data = f.readlines()
    i = 0
    for line in data:
        dataPoint = json.loads(line)
        pprint(dataPoint)
        sql_command_insert_line = sql_command_insert.format(add = dataPoint['address'], 
                                  bid = dataPoint['business_id'], 
                                  city = dataPoint['city'], 
                                  iopen = int(dataPoint['is_open']), 
                                  lat = dataPoint['latitude'], 
                                  long = dataPoint['longitude'], 
                                  name = dataPoint['name'],
                                  neigh = dataPoint['neighborhood'],
                                  post = dataPoint['postal_code'],
                                  rev = int(dataPoint['review_count']),
                                  star = float(dataPoint['stars']), 
                                  sta = dataPoint['state'], 
                                  Btype = dataPoint['type'])
        #print(sql_command_insert_line)
        cursor.execute(sql_command_insert_line)
        i+=1
        if i>10:
            break

In [ ]:
# Check the format and size of the categories data
with open(filepath, encoding="utf8") as f:
    data = f.readlines()
    i = 0
    for line in data:
        dataPoint = json.loads(line)
        cat += dataPoint['categories']
        i+=1
        if i>300:
            break
print(cat)

In [ ]:
# Check the format and size of the attributes data (It is a list)
with open(filepath, encoding="utf8") as f:
    data = f.readlines()
    i = 0
    for line in data:
        dataPoint = json.loads(line)
        if dataPoint['attributes'] != None:
            attribs += (dataPoint['attributes'])
        i+=1
        if i>300:
            break
print(attribs)

In [ ]:
# Test SQL call to check functionality
cursor.execute("SELECT * FROM business") 
print('''Result of "SELECT * FROM business":''')
result = cursor.fetchall() 
for r in result:
    print(r)

In [ ]:
# Commit changes
connection.commit()
connection.close()